<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043409295320-nolbo5tkevr20ubv7m3ovv2o23e6jpqm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043409295320-nolbo5tkevr20ubv7m3ovv2o23e6jpqm</string>
	<key>API_KEY</key>
	<string>AIzaSyBfC9gBxkCG74q5Ix34f1Bd7hUMvzpvyGg</string>
	<key>GCM_SENDER_ID</key>
	<string>1043409295320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.miraiTracker.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>miraitracker-c0c33</string>
	<key>STORAGE_BUCKET</key>
	<string>miraitracker-c0c33.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043409295320:ios:ecf5b8621b6da7dda884ad</string>
</dict>
</plist>